# Dependencies
node_modules/
server/node_modules/
client/node_modules/
server/repositories.json

# Build outputs
dist/
server/dist/
client/dist/
coverage/
server/coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Frontend specific
client/dev-dist
client/stats.html

# Serverspecific
server/src/**/*.js
server/src/**/*.js.map
server/src/**/*.d.ts
server/src/**/*.d.ts.map

server/*.config.js
server/*.config.js.map
server/*.config.d.ts
server/*.config.d.ts.map

# Playwright
playwright-report/
test-results/
e2e/temp-repositories.json

# Work Logging
history.log
